
body{
  font-family: Didact Gothic;

  background-image: url("nightsky.jpg") ;
  background-size: cover;
}
.textcontainer{

}

.imagecontainer{


}
.maincontainer{
  background-color: #1a4162;
padding: 20px;
justify-content: center;
}

h1 {

color: #b6b9d2;
}
#firstid {
  color:#b6b9d2;
}

#secondid {
  color:#b6b9d2;
}
